<header>
    <div class="custom-container">
        <div class="py-5">
            <div class="flex justify-end items-center">
                <button id="btn-mobile" class="md:hidden">Mobile</button>
            </div>
            <div class="flex justify-end">
                <ul class="hidden md:flex space-x-4">
                    <li><a routerLink="home" class="hover:text-red-500 font-semibold">Home</a></li>
                    <li><a routerLink="blog" class="hover:text-red-500 font-semibold">Blog</a></li>
                    <li><a routerLink="works" class="hover:text-red-500 font-semibold">Works</a></li>
                    <li><a href="" class="hover:text-red-500 font-semibold">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>