<main>
    <section class="projects">
        <div class="custom-container">
            <div class="seciton-header">
                <h2 class="seciton-header__title ">Work</h2>
            </div>
            <div class="section-body">
                <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                    <div class="project__img">
                        <img src="https://picsum.photos/246/180" alt="" class="project__thumbnail" />
                    </div>
                    <div class="project__content">
                        <h3 class="project__name">Designing Dashboards</h3>
                        <div class="project__meta">
                            <span class="project__createat">2020</span>
                            <a href="" class="project__category">Dashboard</a>
                        </div>
                        <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                            amet sint. Velit officia consequat duis enim velit mollit.
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
                <!--End .project-item-->
                <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                    <div class="project__img">
                        <img src="https://picsum.photos/246/180" alt="" class="project__thumbnail" />
                    </div>
                    <div class="project__content">
                        <h3 class="project__name">Designing Dashboards</h3>
                        <div class="project__meta">
                            <span class="project__createat">2020</span>
                            <a href="" class="project__category">Dashboard</a>
                        </div>
                        <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                            amet sint. Velit officia consequat duis enim velit mollit.
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
                <!--End .project-item-->
                <div class="project__item grid md:grid-cols-[246px,auto] gap-4">
                    <div class="project__img">
                        <img src="https://picsum.photos/246/180" alt="" class="project__thumbnail" />
                    </div>
                    <div class="project__content">
                        <h3 class="project__name">Designing Dashboards</h3>
                        <div class="project__meta">
                            <span class="project__createat">2020</span>
                            <a href="" class="project__category">Dashboard</a>
                        </div>
                        <p>
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                            amet sint. Velit officia consequat duis enim velit mollit.
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </div>
                </div>
                <!--End .project-item-->
            </div>
        </div>
    </section>
</main>