<footer class="max-w-2xl mt-48 mx-auto">
    <div class=" flex lg:ml-36 md:ml-16 ">
      <div class="px-7"><img src="https://res.cloudinary.com/dielvkumg/image/upload/v1655263305/fb_kdejep.png" alt=""></div>
      <div class="px-7"><img src="https://res.cloudinary.com/dielvkumg/image/upload/v1655263306/insta_mq9oc3.png" alt=""></div>
      <div class="px-7"><img src="https://res.cloudinary.com/dielvkumg/image/upload/v1655263305/Group_zf06gx.png" alt=""></div>
      <div class="px-7"><img src="https://res.cloudinary.com/dielvkumg/image/upload/v1655263305/Linkedin_mzkqpw.png" alt=""></div>
    </div>
    <div class="text-center my-10   ">
      <span>Copyright ©2020 All rights reserved </span>
    </div>
</footer>