<!-- <table class="table table-bordererd">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{ i + 1 }}</td>
            <td></td>
            <td>{{ product.price }}</td>
            <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
            <td>
                <button class="btn btn-danger" (click)="onHanldeRemove(product.id!)">Delete</button>
                <button class="btn btn-info ms-1">Detail</button>
            </td>
        </tr>
    </tbody>
</table> -->
<a routerLink="/admin/products/add">
    <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
        <span
            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Add more products
        </span>
    </button>
</a>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3">
                    Color
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                    {{ product.name }}
                </th>
                <td class="px-6 py-4">
                    Sliver
                </td>
                <td class="px-6 py-4">
                    $ {{ product.price }}
                </td>
                <td class="px-6 py-4">
                    {{ product.status ? "Còn hàng" : "hết hàng" }}
                </td>
                <td class="px-6 py-4 text-right">
                    <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" >Edit</button>

                </td>
                <td class="px-6 py-4 text-right">
                    <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                        (click)="onHanldeRemove(product.id!)">Del</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>