
    <section class="mt-16">
        <div class="pl-3 max-w-2xl mx-auto  ">
            <h1 class="text-5xl font-bold mb-10 ">Blog</h1>
            <div class="">
                <div>
                    <h2 class="text-2xl font-medium">UI Interactions of the week</h2>
                    <div class="recent-post__meta">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <p><a href="" class="text-slate-400">Express, Handlebars</a></p>
                    </div>
                </div>
                <span class="w-96">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.</span>
            </div>
            <hr class="my-7">
        </div>
        <div class="pl-3 max-w-2xl mx-auto">
            <div class="">
                <div>
                    <h2 class="text-2xl font-medium">UI Interactions of the week</h2>
                    <div class="recent-post__meta">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <p><a href="" class="text-slate-400">Express, Handlebars</a></p>
                    </div>
                </div>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.</span>
            </div>
            <hr class="my-7">
        </div>
        <div class="pl-3 max-w-2xl mx-auto">
            <div class="">
                <div>
                    <h2 class="text-2xl font-medium">UI Interactions of the week</h2>
                    <div class="recent-post__meta">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <p><a href="" class="text-slate-400">Express, Handlebars</a></p>
                    </div>
                </div>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.</span>
            </div>
            <hr class="my-7">
        </div>
        <div class="pl-3 max-w-2xl mx-auto">
            <div class="">
                <div>
                    <h2 class="text-2xl font-medium">UI Interactions of the week</h2>
                    <div class="recent-post__meta">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <p><a href="" class="text-slate-400">Express, Handlebars</a></p>
                    </div>
                </div>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                    sint. Velit officia consequat duis enim velit mollit. Exercitation
                    veniam consequat sunt nostrud amet.</span>
            </div>
            <hr class="my-7">
        </div>
    </section>
